<mat-card>
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <thead>
        <th *ngIf="devices && devices.length > 0">{{ 'devices.title' | translate }}</th>
        <th *ngIf="devices && devices.length === 0">{{ 'devices.none' | translate }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let device of devices">
          <td>
            {{ device.name }}
            <app-midi-synth [device]="device"></app-midi-synth>
            <app-midi-keyboard [device]="device"></app-midi-keyboard>
            <app-midi-sheet [device]="device"></app-midi-sheet>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>