<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>{{ 'app.title' | translate }}</span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>{{ 'menu.music' | translate }}</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>{{ 'menu.music' | translate }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>{{ 'menu.music' | translate }}</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar title="example-header-image"></div>
    <mat-card-title>{{ 'app.title' | translate }}</mat-card-title>
    <mat-card-subtitle>{{ 'app.description' | translate }}</mat-card-subtitle>
  </mat-card-header>
  <!-- TODO have another image <img mat-card-image src="assets/icons/icon-72x72.png"> -->
  <mat-card-content>
    <p>
      <midi-devices-soundtracks></midi-devices-soundtracks>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{ 'app.like' | translate }}</button>
    <button mat-button>{{ 'app.share' | translate }}</button>
  </mat-card-actions>
</mat-card>