<div class="sheet-menu" [hidden]="!handleHarmonyChords()">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'sheet.menu.form.set.chord.label' | translate }}</mat-label>
    <mat-select disableRipple name="chord"
      matTooltip="{{ 'sheet.menu.form.set.chord.tip' | translate }}"
      (selectionChange)="recreateWithHarmonyChord($event)">
      <mat-option *ngFor="let tonalityChord of tonalityChords" value="{{ tonalityChord }}">
        {{ renderChordNameInSyllabic(tonalityChord) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>
    <mat-slide-toggle name="recreateChord" [(ngModel)]="recreateChord"
    matTooltip="{{ 'sheet.menu.chord.recreate.tip' | translate }}">
    {{ 'sheet.menu.chord.recreate.label' | translate }}</mat-slide-toggle>
  </p>
</div>

<div class="sheet-menu" [hidden]="!handleMelodyNotes()">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'sheet.menu.form.set.note.label' | translate }}</mat-label>
    <mat-select disableRipple name="note"
      matTooltip="{{ 'sheet.menu.form.set.note.tip' | translate }}"
      (selectionChange)="recreateWithMelodyNote($event)">
      <mat-option *ngFor="let chromaOctave of melodyNotes" value="{{ chromaOctave }}">
        {{ renderNoteNameInSyllabic(chromaOctave) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>
    <mat-slide-toggle name="recreateNote" [(ngModel)]="recreateNote"
    matTooltip="{{ 'sheet.menu.note.recreate.tip' | translate }}">
    {{ 'sheet.menu.note.recreate.label' | translate }}</mat-slide-toggle>
  </p>
</div>

<div class="sheet-menu" [hidden]="!handleTonalities()">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'sheet.menu.form.set.tonality.label' | translate }}</mat-label>
    <mat-select disableRipple name="tonality"
      matTooltip="{{ 'sheet.menu.form.set.tonality.tip' | translate }}"
      (selectionChange)="recreateOnTonality($event)">
      <mat-option *ngFor="let tonalityChroma of tonalitiesChromas" value="{{ tonalityChroma }}">
        {{ renderChordNameInSyllabic(tonalityChroma) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
