<mat-toolbar color="primary">
  <span>
    {{ 'app.title' | translate }}
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="/home">{{ 'header.home' | translate }}</button>
  <button mat-button routerLink="/users">{{ 'header.users' | translate }}</button>
  <button mat-button routerLink="/dashboard">{{ 'header.dashboard' | translate }}</button>
  <button mat-button routerLink="/music">{{ 'header.music' | translate }}</button>
  <button mat-button (click)="logout()">{{ 'header.logout' | translate }}</button>
</mat-toolbar>