<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>Adding or modifying a user</h1>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="firstname" placeholder="Firstname">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="lastname" placeholder="Lastname">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit">Add</button>
        <button mat-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>