<mat-form-field>
	<input matInput (keyup)="search($event.target.value)" placeholder="Search..." autocomplete="off">
</mat-form-field>

<app-user-edit (userEditedEvent)="refreshList($event)"></app-user-edit>

<div class="example-container mat-elevation-z8">
	<div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
		<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
		<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
			The user api rate limit has been reached. It will be reset in one minute.
		</div>
	</div>

	<div>
		<table class="" mat-table [dataSource]="dataSource" matSort matSortActive="email" matSortDisableClear matSortDirection="asc">
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef>Id</th>
				<td mat-cell *matCellDef="let user">{{user.id}}</td>
			</ng-container>

			<ng-container matColumnDef="firstname">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>
				<td mat-cell *matCellDef="let user">{{user.firstname}}</td>
			</ng-container>

			<ng-container matColumnDef="lastname">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
				<td mat-cell *matCellDef="let user">{{user.lastname}}</td>
			</ng-container>

			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
				<td mat-cell *matCellDef="let user">
					<a routerLink="/users/{{user.id}}">{{user.email}}</a>
				</td>
			</ng-container>

			<ng-container matColumnDef="confirmed">
				<th mat-header-cell *matHeaderCellDef>Confirmed</th>
				<td mat-cell *matCellDef="let user">
					<app-user-confirmed [userId]="user.id" (confirmedChange)="displayConfirmed($event)"></app-user-confirmed>
				</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>Actions</th>
				<td mat-cell *matCellDef="let user">
					<button (click)="openUserDialog(user.id)">Edit the user</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let columnName; columns: displayedColumns;"></tr>
		</table>
	</div>

	<mat-paginator [length]="totalElements" [pageSize]="elementsPerPage" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>