<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>{{ 'user.form.title' | translate }}</h1>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="email" placeholder="{{ 'user.form.email' | translate }}">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="firstname" placeholder="{{ 'user.form.firstname' | translate }}">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="lastname" placeholder="{{ 'user.form.lastname' | translate }}">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button type="button" mat-dialog-close>{{ 'user.form.cancel' | translate }}</button>
      <button mat-flat-button type="submit">{{ 'user.form.save' | translate }}</button>
    </mat-dialog-actions>
</form>