.fill-remaining-space {
  flex: 1 1 auto;
}

.soundtracks {
  display: flex;
  justify-content: center;
}

.soundtrack-action {
  padding-left: 45px;
}

.soundtrack {
  padding-bottom: 50px;
}

mat-icon {
  cursor: pointer;
}
