<div style="text-align: right;">
  <button mat-fab color="accent" (click)="generateSoundtrack()"
    matTooltip="{{ 'soundtracks.add.tip' | translate }}">
    <fa-icon [icon]="['far', 'layer-plus']" size="2x"></fa-icon>
  </button>
</div>
<div *ngIf="getNbSoundtracks() > 0" class="soundtracks">
  <table>
    <thead>
    </thead>
    <tbody>
      <tr *ngFor="let soundtrack of soundtracks">
        <td class='soundtrack'>
          <mat-toolbar>
            {{soundtrack.name}}
            <span class="fill-remaining-space"></span>
            <mat-icon *ngIf="!(audioRunning$ | async) || !(audioTransportStarted$ | async)" (click)="startTransport()"
              matTooltip="{{ 'synth.sound.switchOn' | translate }}" class="soundtrack-action">
              volume_up</mat-icon>
            <mat-icon *ngIf="(audioRunning$ | async) && (audioTransportStarted$ | async) && !isNowPlaying(soundtrack)"
              (click)="playSoundtrack(soundtrack)" matTooltip="{{ 'soundtracks.play' | translate }}"
              class="soundtrack-action">play_circle_outline</mat-icon>
            <mat-icon *ngIf="isNowPlaying(soundtrack)" (click)="stopSoundtrack(soundtrack)"
              matTooltip="{{ 'soundtracks.stop' | translate }}" class="soundtrack-action">stop</mat-icon>
            <mat-icon *ngIf="isNowPlaying(soundtrack)" (click)="replaySoundtrack(soundtrack)"
              matTooltip="{{ 'soundtracks.replay' | translate }}" class="soundtrack-action">replay</mat-icon>
            <mat-icon *ngIf="!isNowPlaying(soundtrack)" (click)="openSoundtrackDialog(soundtrack)"
              matTooltip="{{ 'soundtracks.edit' | translate }}" class="soundtrack-action">edit</mat-icon>
            <mat-icon (click)="downloadSoundtrack(soundtrack)" matTooltip="{{ 'soundtracks.download.tip' | translate }}"
              class="soundtrack-action">arrow_downward</mat-icon>
            <mat-icon (click)="deleteSoundtrack(soundtrack)" matTooltip="{{ 'soundtracks.delete' | translate }}"
              class="soundtrack-action">delete</mat-icon>
          </mat-toolbar>
          <mat-progress-bar *ngIf="download$ | async as download"
            [mode]="download | libCoreDownloadProgressMatState" [value]="download | libCoreDownloadProgressMatProgress">
          </mat-progress-bar>
          <app-synth [soundtrack]="soundtrack"></app-synth>
          <app-keyboard [soundtrack]="soundtrack"></app-keyboard>
          <app-sheet [soundtrack]="soundtrack"></app-sheet>
          <!-- <app-soundtrack-upload></app-soundtrack-upload> TODO -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-icon (click)="testProgress()" class="soundtrack-action">arrow_downward</mat-icon>
<div>Progress: {{ pg$ | async }}</div>
